@charset "UTF-8";

:root {
    --cor-principal: #ffffff;
    --cor-secundária: #c0c0c0;
    --cor-botao: #167bf7;
    --cor-fundo: #00030c;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

.principal {
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}