@charset "UTF-8";

:root {
    --cor-principal: #ffffff;
    --cor-secundária: #c0c0c0;
    --cor-botao: #167bf7;
    --cor-fundo: #00030c;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

.principal {
    background-image: url(../imagens/background.png);
}

.container {
    height: 100vh;
    background-repeat: no-repeat;
}